body{
    overflow: hidden;
}
.nav-left-active {
    color: #2abe24 !important;
    font-size: 16px;
}
#right
{
    overflow: auto;
    height: 98%;
}
.table-box{
    overflow: auto;
}
.tab-content table thead tr
{
    background-color: #eee;
}
.tab-content table th, .tab-content table td
{
    text-align: center;
}